[[language]]
name = "nix"
auto-format = false
formatter = { command = "alejandra" }
language-servers = [{ name = "nixd" }]
[language-server.nixd]
command = "nixd"

[[language]]
name = "typst"
language-servers = ["tinymist"]
[language-server.tinymist]
command = "tinymist"
[language-server.tinymist.config]
typstExtraArgs = ["main.typ"]
config = { exportPdf = "onType", outputPath = "$root/target/$dir/$name", preview.background.enabled = true, preview.background.args = [
  "--data-plane-host=127.0.0.1:23635",
  "--invert-colors=never",
  "--open",
] }

[[language]]
name = "rust"
formatter = { command = "rustfmt" }

# --- python ---
[[language]]
name = "python"
scope = "source.python"
injection-regex = "python"
file-types = ["py", "pyi", "py3", "pyw", ".pythonstartup", ".pythonrc"]
shebangs = ["python"]
roots = [".", "pyproject.toml", "pyrightconfig.json"]
comment-token = "#"
language-servers = ["basedpyright", "ruff"]
indent = { tab-width = 4, unit = "    " }
auto-format = true

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.basedpyright.config]
basedpyright.analysis.diagnosticMode = "openFilesOnly"
basedpyright.analysis.typeCheckingMode = "standard"

[language-server.basedpyright.config.python.analysis]
autoImportCompletions = true

[language-server.ruff]
command = "ruff"

[language-server.ruff.config]
settings = { args = [] }

[language.formatter]
command = "black"
args = [
"-", # stdin
"--quiet",
"--line-length=79",
]

# === other shit ===
[language-server.qmlls]
args = ["-E", "-I", "/home/alice/.config/quickshell/"]
command = "qmlls"

[[language]]
name = "glsl"
auto-format = false
file-types = ["glsl", "mustache"]

[[language]]
name = "kdl"
auto-format = false
formatter = { command = "kdlfmt", args = ["format", "--stdin"] }

[[language]]
name = "nu"
auto-format = false
formatter = { command = "nufmt", args = ["--stdin"] }

[[language]]
name = "bash"
file-types = ["sh", "bash", "zsh", ".bashrc"]
