spawn-at-startup "swww-daemon"
spawn-at-startup "swww-daemon" "--namespace" "backdrop"
layer-rule {
    match namespace="^swww-daemonbackdrop$"
    place-within-backdrop true
}
layout {
    background-color "transparent"
}
